<div class="container p-4">
  <div style="background:transparent !important" class="jumbotron card text-center">
    <h1>Open Weather Map</h1>
    <h2>Servicio para Optener Datos del Clima Actual en tu ciudad</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <img width="50%" src="../assets/OpenWeather-Logo.jpg" alt="open weather map logo" class="mx-auto">
        <form (submit)="submitLocation(cityName,countryCode)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre de la Ciudad" #cityName>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Código de país" #countryCode>
          </div>
          <button class="btn btn-primary btn-block">Optener Informacion del Clima</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="weather" class="card card-body">
        <p class="font-italic">Temperatura: {{weather.main.temp}} °C</p>
        <p class="font-italic">Latitud: {{weather.coord.lat}}</p>
        <p class="font-italic">Longitud: {{weather.coord.lon}}</p>
        <p class="font-italic">Humedad: {{weather.main.humidity}}</p>
        <p class="font-italic">Presion: {{weather.main.pressure}}</p>
        <p class="font-italic">Descripcion: {{weather.weather[0].description}}</p>
      </div>
    </div>
  </div>
</div>
