<div class="container p-4">
  <div style="background:transparent !important" class="jumbotron card text-center">
    <h1>Open Weather Map</h1>
    <h2 class="font-italic">Servicio para Optener Datos del Clima Actual en tu Ciudad</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <img width="50%" src="../assets/OpenWeather-Logo.jpg" alt="open weather map logo" class="mx-auto">
        <form (submit)="submitLocation(cityName,countryCode)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre de la Ciudad" #cityName>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Código de país" #countryCode>
          </div>
          <button class="btn btn-primary btn-block">Optener Informacion del Clima</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="weather" class="card card-body">
        <h2 class="text-center d-block btn-primary p-2">{{this.city | uppercase}}</h2>
        <div class="mt-2">
          <p class="font-italic "><strong>Temperatura:</strong> {{weather.main.temp}} °C</p>
          <p class="font-italic"><strong>Latitud:</strong> {{weather.coord.lat}}</p>
          <p class="font-italic"><strong>Longitud:</strong> {{weather.coord.lon}}</p>
          <p class="font-italic"><strong>Humedad:</strong> {{weather.main.humidity}}</p>
          <p class="font-italic"><strong>Presion:</strong> {{weather.main.pressure}}</p>
          <p class="font-italic"><strong>Descripcion:</strong> {{weather.weather[0].description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Por Favor Espere.</p>
</ngx-spinner>
